<%= form_for(@new_poster, multipart: true) do |f| %>
	  <div class="field">
	    <%= f.label :image_paperclip %>
	    <%= f.file_field :image_paperclip %>
	  </div>
	  <div class="actions">
	    <%= f.submit 'Make a friend' %>
	    <%= link_to 'Nevermind', posters_path, class: 'button' %>
	  </div>

 	    <h2>Comments</h2>
		<% @new_poster.comments.each do |comment| %>
		  <p>
		    <b>Commenter:</b>
		    <%= comment.commenter %>
		  </p>
		 
		  <p>
		    <b>Comment:</b>
		    <%= comment.body %>
		  </p>
		<% end %>

<% end %>