

<%= form_for(@new_poster, multipart: true) do |f| %>

	<div class="field">
		<%= f.file_field :image_paperclip, :class => "file" %>
	</div>

	<div class="actions">
		<%= f.submit 'Pin it', :class => "submit_file" %>
	</div>
<% end %>


<!--
	<h2>Comments</h2>
	<% @new_poster.comments.each do |comment| %>
	  <p>
	    <b>Commenter:</b>
	    <%= comment.commenter %>
	  </p>
	 
	  <p>
	    <b>Comment:</b>
	    <%= comment.body %>
	  </p>

	<% end %>
-->
