<%= form_for(@new_poster, multipart: true) do |f| %>
	<i class="fa fa-plus fa-3x"></i>
	<div class="post_text"> Pin </div>

	<div class="field">
		<%= f.file_field :image_paperclip, :id => "image_field" %>
	</div>

	<div class="actions">
		<%= f.submit 'Pin it' %>
	</div>

	<h2>Comments</h2>
	<% @new_poster.comments.each do |comment| %>
	  <p>
	    <b>Commenter:</b>
	    <%= comment.commenter %>
	  </p>
	 
	  <p>
	    <b>Comment:</b>
	    <%= comment.body %>
	  </p>
	<% end %>

<% end %>